<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="mb-3">
          <label class="form-label" style="margin-top: 40px"> ID del Codigo Postal</label>
        </div>
        <div class="mb-3">
          <input [(ngModel)]="cp.idCP" type="text" class="form-control" name="idcp">
        </div>
        <div class="mb-3">
          <label class="form-label"> Numero</label>
        </div>
        <div class="mb-3">
          <input [(ngModel)]="cp.Numero" type="text" class="form-control" name="numero">
        </div>
        <button (click)="mcp()" type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px; background-color: #8B051B; color: #f2f2f2"> Guardar</button>
      </form>
    </div>
  </div>
</div>
