<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="mb-3">
          <label class="form-label" style="margin-top: 40px"> ID de la Colonia</label>
        </div>
        <div class="mb-3">
          <input [(ngModel)]="colonia.idColonias" type="text" class="form-control" name="idcolonia">
        </div>
        <div class="mb-3">
          <label class="form-label"> Nombre de la Colonia</label>
        </div>
        <div class="mb-3">
          <input [(ngModel)]="colonia.Nombre" type="text" class="form-control" name="nombre">
        </div>
        <button (click)="mcolonia()" type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px; background-color: #8B051B; color: #f2f2f2"> Guardar</button>
      </form>
    </div>
  </div>
</div>
